:root {
    color-scheme: light;

    /* BREAK POINTS */
    --breakpoints-xs: 0rem;
    --breakpoints-sm: 30.625rem;
    --breakpoints-md: 48rem;
    --breakpoints-lg: 65rem;
    --breakpoints-xl: 90rem;

    /* COLORS */
    --color-background-main: #fefefe;
    --color-background-element: #eee;
    --color-background-inverted: #282a36;
    --color-text-main: #1f1f1f;
    --color-text-alt: #333;
    --color-text-inverted: #fefefe;
    --color-border-element: #282a36;
    --color-theme: #7a283a;

    --shadow-transparent: 0 0 0 0 transparent;
    --shadow-faint: 0 1px 0 0 rgba(22, 29, 37, 0.05);
    --shadow-base: 0 0 0 1px rgba(63, 63, 68, 0.05),
        0 1px 3px 0 rgba(63, 63, 68, 0.15);
    --shadow-deep: 0 0 0 1px rgba(6, 44, 82, 0.1),
        0 2px 16px rgba(33, 43, 54, 0.08);
    --shadow-button: 0 1px 0 rgba(0, 0, 0, 0.05);
    --shadow-top-bar: 0 2px 2px -1px rgba(0, 0, 0, 0.15);
    --shadow-card: 0 0 5px rgba(23, 24, 24, 0.05), 0 1px 2px rgba(0, 0, 0, 0.15);
    --shadow-popover: 0 3px 6px -3px rgba(23, 24, 24, 0.08),
        0 8px 20px -4px rgba(23, 24, 24, 0.12);
    --shadow-layer: 0 31px 41px 0 rgba(32, 42, 53, 0.2),
        0 2px 16px 0 rgba(32, 42, 54, 0.08);
    --shadow-modal: 0 26px 80px rgba(0, 0, 0, 0.2), 0 0px 1px rgba(0, 0, 0, 0.2);
    --shadows-inset-button: inset 0 -1px 0 rgba(0, 0, 0, 0.2);
    --shadows-inset-button-pressed: inset 0 1px 0 rgba(0, 0, 0, 0.15);

    /* FONTS */
    --font-family-sans: -apple-system, BlinkMacSystemFont, 'San Francisco',
        'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
    --font-family-mono: ui-monospace, SFMono-Regular, 'SF Mono', Consolas,
        'Liberation Mono', Menlo, monospace;

    /* FONT SIZE */
    --font-size-75: 0.75rem;
    --font-size-100: 0.875rem;
    --font-size-200: 1rem;
    --font-size-300: 1.25rem;
    --font-size-400: 1.5rem;
    --font-size-500: 1.75rem;
    --font-size-600: 2rem;
    --font-size-700: 2.5rem;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-line-height-1: 1rem;
    --font-line-height-2: 1.25rem;
    --font-line-height-3: 1.5rem;
    --font-line-height-4: 1.75rem;
    --font-line-height-5: 2rem;
    --font-line-height-6: 2.5rem;
    --font-line-height-7: 3rem;
    --override-loading-z-index: 514;

    /* SIZES */
    --choice-size: 1.25rem;
    --icon-size-small: 0.5rem;
    --icon-size-medium: 1.25rem;
    --choice-margin: 0.0625rem;
    --control-border-width: 0.125rem;
    --banner-border-default: inset 0 0.0625rem 0 0 var(--border-neutral-subdued),
        inset 0 0 0 0.0625rem var(--border-neutral-subdued);
    --banner-border-success: inset 0 0.0625rem 0 0 var(--border-success-subdued),
        inset 0 0 0 0.0625rem var(--border-success-subdued);
    --banner-border-highlight: inset 0 0.0625rem 0 0
            var(--border-highlight-subdued),
        inset 0 0 0 0.0625rem var(--border-highlight-subdued);
    --banner-border-warning: inset 0 0.0625rem 0 0 var(--border-warning-subdued),
        inset 0 0 0 0.0625rem var(--border-warning-subdued);
    --banner-border-critical: inset 0 0.0625rem 0 0
            var(--border-critical-subdued),
        inset 0 0 0 0.0625rem var(--border-critical-subdued);
    --thin-border-subdued: 0.0625rem solid var(--border-subdued);
    --text-field-spinner-offset: 0.125rem;
    --text-field-focus-ring-offset: -0.25rem;
    --button-group-item-spacing: -0.0625rem;
    --range-slider-thumb-size-base: 1rem;
    --range-slider-thumb-size-active: 1.5rem;
    --frame-offset: 0rem;

    /* TIMING */
    --duration-0: 0ms;
    --duration-50: 50ms;
    --duration-100: 100ms;
    --duration-150: 150ms;
    --duration-200: 200ms;
    --duration-250: 250ms;
    --duration-300: 300ms;
    --duration-350: 350ms;
    --duration-400: 400ms;
    --duration-450: 450ms;
    --duration-500: 500ms;
    --duration-5000: 5000ms;
    --ease: cubic-bezier(0.25, 0.1, 0.25, 1);
    --ease-in: cubic-bezier(0.42, 0, 1, 1);
    --ease-out: cubic-bezier(0, 0, 0.58, 1);
    --ease-in-out: cubic-bezier(0.42, 0, 0.58, 1);
    --linear: cubic-bezier(0, 0, 1, 1);
    --keyframes-bounce: p-keyframes-bounce;
    --keyframes-fade-in: p-keyframes-fade-in;
    --keyframes-pulse: p-keyframes-pulse;
    --keyframes-spin: p-keyframes-spin;

    /* BORDER */
    --border-radius-05: 0.125rem;
    --border-radius-1: 0.25rem;
    --border-radius-2: 0.5rem;
    --border-radius-3: 0.75rem;
    --border-radius-4: 1rem;
    --border-radius-5: 1.25rem;
    --border-radius-6: 1.875rem;
    --border-radius-full: 624.9375rem;
    --border-radius-base: 0.1875rem;
    --border-radius-large: 0.375rem;
    --border-radius-half: 50%;
    --border-width-1: 0.0625rem;
    --border-width-2: 0.125rem;
    --border-width-3: 0.1875rem;
    --border-width-4: 0.25rem;
    --border-width-5: 0.3125rem;
    --border-base: var(--border-width-1) solid var(--border-subdued);
    --border-dark: var(--border-width-1) solid var(--border);
    --border-transparent: var(--border-width-1) solid transparent;
    --border-divider: var(--border-width-1) solid var(--divider);
    --border-divider-on-dark: var(--border-width-1) solid var(--divider-dark);

    /* SPACE */
    --space-0: 0;
    --space-025: 0.0625rem;
    --space-05: 0.125rem;
    --space-1: 0.25rem;
    --space-2: 0.5rem;
    --space-3: 0.75rem;
    --space-4: 1rem;
    --space-5: 1.25rem;
    --space-6: 1.5rem;
    --space-8: 2rem;
    --space-10: 2.5rem;
    --space-12: 3rem;
    --space-16: 4rem;
    --space-20: 5rem;
    --space-24: 6rem;
    --space-28: 7rem;
    --space-32: 8rem;

    /* ZINDEX */
    --z-index-1: 100;
    --z-index-2: 400;
    --z-index-3: 510;
    --z-index-4: 512;
    --z-index-5: 513;
    --z-index-6: 514;
    --z-index-7: 515;
    --z-index-8: 516;
    --z-index-9: 517;
    --z-index-10: 518;
    --z-index-11: 519;
    --z-index-12: 520;
    --z-1: 100;
    --z-2: 400;
    --z-3: 510;
    --z-4: 512;
    --z-5: 513;
    --z-6: 514;
    --z-7: 515;
    --z-8: 516;
    --z-9: 517;
    --z-10: 518;
    --z-11: 519;
    --z-12: 520;
}

@keyframes p-keyframes-bounce {
    from,
    65%,
    85% {
        transform: scale(1);
    }
    75% {
        transform: scale(0.85);
    }
    82.5% {
        transform: scale(1.05);
    }
}
@keyframes p-keyframes-fade-in {
    to {
        opacity: 1;
    }
}
@keyframes p-keyframes-pulse {
    from,
    75% {
        transform: scale(0.85);
        opacity: 1;
    }
    to {
        transform: scale(2.5);
        opacity: 0;
    }
}
@keyframes p-keyframes-spin {
    to {
        transform: rotate(1turn);
    }
}
