DATABASE_URL="file:./data.db?connection_limit=1"
SESSION_SECRET="super-duper-s3cret"
ADMIN_EMAIL="lukedaviesweb@gmail.com"
NOTION_KEY="secret_BGQblvij1S1YEt306pZFCuXyCpDKw9RquIk6KHiVui2"
NOTION_LUKESWORLD_ID="c2b718d2-9d42-4b99-88b8-2bdcc9434e7a"
NOTION_POSTLIST_ID="de7a11e4-eb19-41a7-8772-ee4d60104c3e"
NOTION_DATABASE_ID="39835afff8484eb0994d88686e308c27"
SENDGRID_API_KEY='SG.RmOJIjP5RI2ewnFvu2whUw.Sy1m1aAVuwkwZzD25mQURV5riSxF_S-ShDInu5SmD70'